
body {
    background-color: rgb(12, 12, 12);
  margin: 0;
}
header{
 width: 100%;
  text-align: center;
  padding: 10px 0; 
  background-size: cover;
  background-position: center;
  background-image: url("https://i.pinimg.com/originals/c0/a9/c6/c0a9c6ebfcd2228252859e228f24c95b.jpg");
}
div.blackbg{
background-color: rgba(0, 0, 0, 0.6);
  width: 600px;
  height: 100px;
  max-width: 90%;
  height: auto;
  margin: 0px auto 0px auto;
  padding: 5px 5px; 
  box-sizing: border-box;
}
h3{
    font-family: 'Saira', sans-serif;
    font-size: 30px;
      color: white;
      margin: 0 0 5px 0;
}
.custom-placement {
  position: fixed; 
  bottom: 0px;     
  right: 0px;       
  z-index: 1000;   
  background: none;
  border: none;
}

.custom-placement img {
  width: 200px;      
  height: 150px;
}
a{
text-decoration: none;
color: rgb(152, 255, 216);
}
p.Credisaura{
  font-family:'Saira';
  font-size: 20px;
  Color: white;
}
ul{
  list-style-type:none;
  font-family: 'Orbitron';
  color: white;
}
p{
    font-family: 'Comic Relief';
    color: white;
    font-size: 10px;
    margin: 0 0 5px 0;
}
p.about-me{
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 30px;
}
h2.navigator{
  font-family: 'Saira';
  color: white;
  font-size: 50px;
  margin-left: 20px;
}
div.navigator{
  border-color: white;
  border-style: solid;
  border-width: 8px;
  border-radius: 8px 8px 8px 8px;
  width: 430px;
  height: 200px;
  margin-top: -25px;
  margin-left: 50px;
  background-color: rgba(20, 20, 20, 0.8);
}
div.navigator nav {
  height: 100%;
}
div.navigator nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr;  
  grid-template-rows: 1fr 1fr;   
  height: 100%;                  
  padding: 0;    
  margin: 0;    
  box-sizing: border-box;     
}
div.navigator nav ul li {
  display: flex;
  justify-content: center; 
  align-items: center;   
  box-sizing: border-box;
  height: 100%;
  box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.726);
}
div.navigator a:hover {
  color: #00ffb3;           
  font-size: 34px;         
}
div.navigator a {
  font-size: 30px;
  font-family: 'Saira', sans-serif;
   transition: color 0.2s, font-size 0.2s;
}
.navigatorgroup {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-right: 40px;
  align-items: flex-end;
  box-sizing: border-box;
}
div.img {
  margin-left: auto;
  margin-top: 50px;
  height: 250px;
  display: flex;
}
div.navigator nav ul li:hover {
  background-color: #383838; 
}
div.navigator nav ul li:nth-child(odd) {
  border-right: 4px solid rgba(255, 255, 255, 0.829); 
}
div.navigator nav ul li:nth-child(1),
div.navigator nav ul li:nth-child(2) {
  border-bottom: 4px solid rgba(255, 255, 255, 0.829);
}
div.img img{
width: auto;
height: 100%;
max-width: 450px;
display: block;
}
#nav-description {
  max-width: 350px;
  height: 200px;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}
#nav-description p{
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
}
.back-btn {
  font-family: 'Saira', sans-serif;
  color: rgb(152, 255, 216); 
  font-size: 30px;
  display: inline-block;
  transition: color 0.2s, font-size 0.2s;
}

.back-btn:hover {
  color: #00ffb3; 
  font-size: 34px; 
}